<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header> 
        <div class="headerImage">
            <h1 class="headertext">My store</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock content %}

    <footer><p class="footertext">created by the one & only bazragou a xriki | {{date}} </p></footer>
</body>
</html>